<div class="webform-paragraph">
  {% if parent.type.0.target_id != 'content_with_sidebar' %}<div class="container">{% endif %}
    <div class="row">
      <div class="col-12">
        {% if h2_title %}
          <h2 class="title">
            {{ h2_title }}
          </h2>
        {% endif %}
        {% if paragraph.field_webform %}
          <div class="webform">
            {{ paragraph.field_webform|view }}
          </div>
        {% endif %}
      </div>
    </div>
  {% if parent.type.0.target_id != 'content_with_sidebar' %}</div>{% endif %}
</div>
