<div class="content-with-sidebar container">
  <div class="row">
    <div class="d-none d-lg-block col-lg-2">
    {{ drupal_entity('block','nighthawk_base_mainnavigation_2') }}
    </div>
    <div class="col-12 col-lg-10">
      {{ content }}
    </div>
  </div>
</div>
