.image-title-text-link {
	a {
		text-decoration: none;
		img {

		}
		.lower-text-area {
			h3.title {

			}
			.section-text {
				p {

				}
			}
			.link-icon {
				&:after {
					font-family: $fa;
					content: "\f061";
				}
			}
		}
	}
}