.button {
	transition: transform .2s;
	transform: scale(1);
	font-style: 1rem;
	font-weight: $font-bold;
	color: $white;
	border-radius: .75rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 2rem;
	background: $black;
	border: 2px solid $mn-blue;
 	@include media-breakpoint-up(md) {
	}
	&:after {
		font-family: $fa;
		content: "\f061";
		padding-left: 1rem;
	}
	&:hover {
		transition: transform .2s;
		transform: scale(1.02);
		text-decoration: none;
		@include media-breakpoint-up(lg) {
			transform: scale(1.05);
		}
	}
	&.blue {
		background: $mn-blue;
		&:hover {
			background: lighten($mn-blue, 20%);
		}
		a {
			color: $white;
			text-decoration: none;
		}
	}
	&.green {
		background: $mn-green;
		&:hover {
			background: lighten($mn-green, 20%); 
		}
		a {
			color: $white;
			text-decoration: none;
		}
	}
	&.white {
		background: $white;
		color: $black;
		border: 1px solid $black;
		&:hover {
			background: $light-gray;
		}
	}
}
a.button {
	text-decoration: none;
	&.green {
		color: $white;
	}
	&.blue {
		color: $white;
	}
}