.text-light {
	color: $white;
}
.text-dark {
	color: $black;
}
.background-white {
	background-color: $white;
}
.background-dark {
	background-color: $black;
}
.background-light {
	background-color: $white;
}
.background-image {
	background-size: cover;
}