//Primary Colors
$white: #ffffff;
$black: #000000;

//Grays
$light-gray: #D9D9D6;
$dark-gray: #53565A;
$medium-gray: #97999B;

//Secondary Colors

//Text Color

//Body Text

//MN State Colors
$mn-blue: #003865;
$mn-green: #78BE21;
$mn-teal: #008EAA;
$mn-green2: #0D5257;
$mn-orange: #E57200;
$mn-red: #A6192E;
$mn-orange2: #8D3F2B;
$mn-purple: #5D295F;
$mn-bluegray: #A4BCC2;
$mn-cream: #F5E1A4;
$mn-skyblue: #9BCBEB;
$mn-gold: #FFC845;